[user]
	name = Joaquim
	email = devjoaquim@gmail.com
[core]
	editor = nvim
[alias]
	s = status -sb
	c = commit
	a = add
	l = log --graph --pretty=format:\"%C(auto)%h %C(green)%as %C(auto)%d %C(auto)%s\" --date=relative --branches --decorate
[pull]
	ff = only
